---
import Layout from '~/layouts/Layout.astro';
const base = import.meta.env.BASE_URL.endsWith('/')
? import.meta.env.BASE_URL
: import.meta.env.BASE_URL + '/';
---

<Layout title="Cursos">
    <main>
        <section class="secao-manifesto">
            <div class="manifesto-conteudo">
                <h2>Ferramentas para o Pensamento Crítico</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Nossa biblioteca de conteúdo é 100% gratuita e está em constante expansão.</p>
            </div>
        </section>

        <section class="secao-vitrine-cursos">
            <h2>Nossos Cursos</h2>
            <div class="vitrine-grid">
                <a href={`${base}cursos/curso-escrita/`}" class="card-curso-completo">
                    <img src={`${base}imagens/gatocard2.png`} alt="Ilustração para o curso de Escrita Científica">
                    <div class="card-curso-conteudo">
                        <h3>
                            <i class="fas fa-video"></i>
                            Escrita Científica
                        </h3>
                        <p class="card-curso-descricao">Aprenda a estruturar seus artigos, argumentar com clareza, e aumentar as chances de publicação em periódicos de prestígio.</p>
                        <div class="card-curso-meta">
                            <span class="tag-meta tag-status-rec">● EM GRAVAÇÃO</span>
                            <span class="tag-meta">10 AULAS</span>
                            <span class="tag-meta">GRATUITO</span>
                        </div>
                    </div>
                </a>
            </div>
        </section>
    </main>
</Layout>