<section class="sobre-secao">
  <h2>Nos Bastidores da Oficina</h2>
  <div class="texto-coluna-unica">
    <p>Eu registro no Blog de Desenvolvimento toda a filosofia do projeto e o sua construção com IAs (Gemini e eventualmente, ChatGPT. A construção deste site é um processo aberto e pode ser visto no Repositório do Github do projeto.</p>
  </div>
</section>