<section id="manifesto" class="sobre-secao">
  <div class="folha-manifesto">

    <h2>MANIFESTO</h2>

    <p>Fazer ciência no Brasil é um desafio constante. Ainda assim, com todas as dificuldades, produzimos boa ciência.</p>
    <p>A <strong>Oficina de Cientistas</strong> nasceu ao observar uma necessidade clara: existem jovens pesquisadores de imenso potencial que, ao chegarem na pós-graduação, se deparam com a exigência de produzir conhecimento de alto nível sem, muitas vezes, terem recebido as ferramentas fundamentais para lidar com todas as complexidades de um projeto científico.</p>
    <p>Nosso objetivo é fornecer um ciclo básico de habilidades essenciais para a prática científica. Planejamos montar uma grade de cursos <strong>gratuitos</strong> focados na formação de um pesquisador, pois acreditamos que se educar no Brasil envolve, necessariamente, uma boa dose de protagonismo na própria formação.</p>

  </div>
</section>