<section class="sobre-secao">
  <h2>Modelo de Sustentabilidade do Projeto</h2>
  <div class="texto-coluna-unica">
    <p><strong>Este projeto não visa maximizar o lucro, mas não é sem fins lucrativos.</strong> Nosso objetivo principal sempre será oferecer educação gratuita e acessível. No entanto, quanto mais recursos tivermos, mais conteúdo de qualidade poderemos gerar e, quem sabe, expandir a equipe. A principal meta de sucesso do projeto é poder contratar outros professores, pagando um preço justo por seu trabalho.</p>
    <p>Por isso, em algum momento, poderá ser oferecido serviços pagos, como cursos exclusivos (virtuais e presenciais) e consultoria: mas a nossa filosofia é de que esse sempre seja o conteúdo extra, voltado a viabilizar o projeto. Oferecer educação gratuita e acessível sempre será nosso objetivo principal. </p>
    <p>Atualmente, o desenvolvimento do site é financiado por uma bolsa PCI-B (nº) do Instituto Nacional de Pesquisas da Amazônia (INPA).</p>
    <p>Se você tem ideias ou deseja ajudar de alguma forma, entre em contato pelo e-mail:</p>
  </div>
</section>