---
import Layout from '../layouts/Layout.astro';
const base = import.meta.env.BASE_URL.endsWith('/')
? import.meta.env.BASE_URL
: import.meta.env.BASE_URL + '/';

---
<Layout title="Home">
    <main>
        <section class="secao-apresentacao">
            <img src={`${base}logo1.png`} alt="Logo Oficina de Cientistas" class="logo-apresentacao">
            <h2>OFICINA DE CIENTISTAS</h2>
            <p>Propagando conhecimento. Difundindo redes.</p>
        </section>

        <section class="chamada-principal">
            <div class="chamada-conteudo">
                <h2>Nossa Proposta</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </section>

        <section class="secao-destaque-curso">
            <div class="texto-destaque">
                <h2>Curso em Destaque</h2>
                <h3>Escrita Científica: Da Estrutura ao Impacto</h3>
                <p>Este curso completo de 10 aulas foi desenhado para transformar sua relação com a escrita acadêmica.</p>
                <a href={`${base}cursos/curso-escrita/`} class="botao-principal">Ver Conteúdo do Curso</a>
            </div>
            <a href={`${base}cursos/curso-escrita/`}
            class="card-destaque">
                <img src={`${base}imagens/gatocard2.png`} alt="Ilustração para o curso de escrita científica">
                <div class="card-destaque-conteudo">
                    <h4>Escrita Científica</h4>
                    <p>10 Aulas • 8h de conteúdo</p>
                </div>
            </a>
        </section>
    </main>
</Layout>